.swiper {
    width: 100%;
    height: 80%;
}

.swiper-slide {
    & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.slide2 {
    height: 350px;
    box-shadow: 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
    font-size: 12px;

    &:nth-child(1) {
        background-color: #90CAF9;
    }
    &:nth-child(2) {
        background-color: #80CBC4;
    }
    &:nth-child(3) {
        background-color: #C5E1A5;
    }
    &:nth-child(4) {
        background-color: #FFCC80;
    }
    &:nth-child(5) {
        background-color: #9FA8DA;
    }
    &:nth-child(6) {
        background-color: #EF9A9A;
    }
}

.slide3 {
    width: 285px !important;
    height: 450px;
    box-shadow: 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: black;
    font-size: 12px;

    &:nth-child(1) {
        background-color: #BCAAA4;
    }
    &:nth-child(2) {
        background-color: #B0BEC5;
    }
    &:nth-child(3) {
        background-color: #E0E0E0;
    }
    &:nth-child(4) {
        background-color: #FFCCBC;
    }
}